

header {
    padding-top: 0%;
    color: azure;
    background-image: linear-gradient(to right, rgb(1, 1, 181) , rgb(81, 9, 81));
}

.divider {
    border-style: solid;
}

.show {
    display:contents;
    color: white;
}

.mild{
    background-color: green;
    color: white;
}

.moderate{
    background-color: yellow;
    color: white;
}

.high{
    background-color: orange;
    color: white;
}

.very-high{
    background-color: red;
    color: white;
}

.severe{
    background-color: purple;
    color: white;
}