

header {
    padding-top: 2%;
    color: azure;
    background-image: linear-gradient(to bottom, rgb(122, 178, 221) , rgb(27, 58, 96));
}
section{
    padding-top: 5%;
}
#present{
    padding-top: 0%;
}
.divider {
    border-style: solid;
}

#styling {
    padding: 5%; 
}
body{
    background-image: url(./assets/BackGroundImage.jpg);
    background-size: cover;
}
.show {
    display:contents;
    color: white;
}

.mild{
    background-color: green;
    color: white;
    border-radius: 20%;
}

.moderate{
    background-color: yellow;
    color: white;
    border-radius: 20%;
}

.high{
    background-color: orange;
    color: white;
    border-radius: 20%;
}

.very-high{
    background-color: red;
    color: white;
    border-radius: 20%;
}

.severe{
    background-color: purple;
    color: white;
    border-radius: 20%;
}